n8n/workflows/contact-form-handler.json
{
  "name": "Contact Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e8c8b1a1-1234-4567-8901-234567890123",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "contact-form"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "contains",
              "value2": "@"
            }
          ]
        }
      },
      "id": "f9d9c2b2-2345-5678-9012-345678901234",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "table": "contacts",
        "columns": "name, email, company, phone, message, created_at, source",
        "additionalFields": {
          "name": "={{ $json.name }}",
          "email": "={{ $json.email }}",
          "company": "={{ $json.company || '' }}",
          "phone": "={{ $json.phone || '' }}",
          "message": "={{ $json.message }}",
          "created_at": "={{ $json.timestamp }}",
          "source": "={{ $json.source }}"
        }
      },
      "id": "a1b2c3d4-3456-6789-0123-456789012345",
      "name": "Save to Database",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "admin@yourcompany.com",
        "subject": "New Contact Form Submission",
        "emailFormat": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background-color: #4F46E5; color: white; padding: 20px; text-align: center; }\n        .content { background-color: #f9f9f9; padding: 20px; }\n        .field { margin-bottom: 15px; }\n        .label { font-weight: bold; color: #333; }\n        .value { margin-left: 10px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2>New Contact Form Submission</h2>\n        </div>\n        <div class=\"content\">\n            <div class=\"field\">\n                <span class=\"label\">Name:</span>\n                <span class=\"value\">{{ $json.name }}</span>\n            </div>\n            <div class=\"field\">\n                <span class=\"label\">Email:</span>\n                <span class=\"value\">{{ $json.email }}</span>\n            </div>\n            <div class=\"field\">\n                <span class=\"label\">Company:</span>\n                <span class=\"value\">{{ $json.company || 'Not provided' }}</span>\n            </div>\n            <div class=\"field\">\n                <span class=\"label\">Phone:</span>\n                <span class=\"value\">{{ $json.phone || 'Not provided' }}</span>\n            </div>\n            <div class=\"field\">\n                <span class=\"label\">Message:</span>\n                <div class=\"value\">{{ $json.message }}</div>\n            </div>\n            <div class=\"field\">\n                <span class=\"label\">Submitted:</span>\n                <span class=\"value\">{{ $json.timestamp }}</span>\n            </div>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "id": "b2c3d4e5-4567-7890-1234-567890123456",
      "name": "Send Notification Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Thank you for contacting Smart Automation",
        "emailFormat": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background-color: #4F46E5; color: white; padding: 20px; text-align: center; }\n        .content { padding: 20px; }\n        .footer { background-color: #f3f4f6; padding: 15px; text-align: center; font-size: 12px; color: #666; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2>Thank You for Your Interest!</h2>\n        </div>\n        <div class=\"content\">\n            <p>Dear {{ $json.name }},</p>\n            \n            <p>Thank you for reaching out to Smart Automation! We've received your message and appreciate your interest in our automation solutions.</p>\n            \n            <p>Our team will review your inquiry and get back to you within 24 hours. In the meantime, feel free to explore our resources or contact us directly if you have any urgent questions.</p>\n            \n            <p>Here's what you can expect next:</p>\n            <ul>\n                <li>A personalized response within 24 hours</li>\n                <li>A free consultation to discuss your automation needs</li>\n                <li>Customized recommendations for your business</li>\n            </ul>\n            \n            <p>Best regards,<br>\n            The Smart Automation Team</p>\n        </div>\n        <div class=\"footer\">\n            <p>This is an automated response. Please do not reply to this email.</p>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "id": "c3d4e5f6-5678-8901-2345-678901234567",
      "name": "Send Thank You Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Thank you for your message! We'll get back to you within 24 hours.\",\n  \"id\": \"{{ $json.id || Date.now() }}\"\n}"
      },
      "id": "d4e5f6g7-6789-9012-3456-789012345678",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid email address provided.\",\n  \"error\": \"INVALID_EMAIL\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "e5f6g7h8-7890-0123-4567-890123456789",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Notification Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Thank You Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thank You Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "UTC"
  },
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "id": "1",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "contact-form"
    }
  ]
}